<template>
    <div>
        <div class="row">
            <div class="col-md-8"></div>

            <div class="col-md-3">
                <label class="checkbox-inline">
                    <input id="allow_adding_places" type="checkbox" value="1" v-model="addMarker">
                    Allow adding places
                </label>
            </div>

            <div class="col-md-1 text-right">
                <button class="btn btn-default btn-xs" title="help" data-toggle="modal" data-target="#helpModal">
                    ?
                </button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8">
                <Gmap
                        :markers="lists"
                        :currentMarker="currentMarker"
                        :addMarker="addMarker"
                        :marker_color="map.marker_color"
                ></Gmap>
            </div>


            <div class="col-md-4">
                <div class="list-group" style="max-height: 500px; overflow-x: auto;">
                    <a href="javascript:void(0)" v-for="item,key in lists" class="list-group-item" v-bind:class="{active: item.id === currentMarker.id}" @click="currentMarker=item">
                        {{ item.name }}
                    </a>
                </div>
            </div>
        </div>

        <Helpmodal :marker_color="map.marker_color" ></Helpmodal>
    </div>
</template>

<script>
    import Helpmodal from './map/Helpmodal.vue';
    import Gmap from './map/Gmap.vue';

    export default {
        components: {
            Helpmodal,
            Gmap
        },
        data() {
            return {
                map: {
                    marker_color: {
                        simple: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                        visited: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                    },
                },
                addMarker: false,
                lists: {},
                errors: {},
                currentMarker: false,
            }
        },
        mounted() {
            let obj = this;

            let id_user = obj.$auth.user().id;

            axios.post('/places/get', {
                id_user: id_user
            })
                .then(function(response) {
                    if(response.data) {
                        obj.lists = response.data
                    }
                })
                .catch(function(error) {

                });
        },
        methods: {

        },
    }
</script>