<template>
    <div>
        <!-- start modal -->
        <div v-if="showModal">
            <transition name="modalsm">
                <div class="modal-mask">
                    <div class="modal-wrapper">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div>
                                        <form>
                                            <input type="hidden" placeholder="id" ref="id_place" :value="place_edit.id" />
                                            <input type="text" placeholder="name" ref="place_name" :value="place_edit.name" class="form-control input-sm" v-on:keyup.13="saveMarker" />
                                            <input type="hidden" placeholder="latitude" ref="place_latitude" :value="place_edit.latitude" />
                                            <input type="hidden" placeholder="longitude" ref="place_longitude" :value="place_edit.longitude" />
                                            <div class="m-top-5 text-right">
                                                <button type="button" class="btn btn-success btn-sm" @click.prevent="saveMarker">save</button>
                                                <button type="button" class="btn btn-default btn-sm" @click="showModal=false">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
        <!-- end modal -->
        <gmap-map
                :center="{lat:map.default_lat, lng:map.default_lng}"
                :zoom="map.default_zoom"
                @click="tryToAddMarker"
                style="height: 500px">

            <gmap-info-window
                    :options="infoOptions"
                    :position="infoWindowPos"
                    :opened="infoWinOpen"
                    @closeclick="closeInfoWindow()">

                <label class="checkbox-inline">
                    <input
                            class="visited_place"
                            type="checkbox" value="1"
                            @change="setPlaceWisited"
                            :checked="infoVisited == 1">visited
                </label>

                <h4>{{ infoContent }}</h4>

                <a href="javascript:void(0)" class="alert-success" @click="editPlace()">edit</a>
                <a href="javascript:void(0)" class="alert-danger" @click="deletePlace()">delete</a>
            </gmap-info-window>


            <!-- start adding placemark -->
            <gmap-marker v-for="item,key in markers"
                         item.visited :icon="{url:map.icon_url[item.visited]}"
                         :key="item.id"
                         :position="{lat: parseFloat(item.latitude), lng: parseFloat(item.longitude)}"
                         @click="tryOpenInfoWindow(item)"
                         @dragstart="getDraggingItem(item, key)"
                         @dragend="saveMarkerCoords"
                         :clickable="true"
                         :draggable="true" />
            <!-- end adding placemark -->
        </gmap-map>
    </div>
</template>

<script>
    import Vue from 'vue'
    import * as VueGoogleMaps from 'vue2-google-maps'

    Vue.use(VueGoogleMaps, {
        load: {
            key: 'AIzaSyBvWE_sIwKbWkiuJQOf8gSk9qzpO96fhfY',
            libraries: 'places', // This is required if you use the Autocomplete plugin
            // OR: libraries: 'places,drawing'
            // OR: libraries: 'places,drawing,visualization'
            // (as you require)
        }
    });

    export default {
        props: [
            'markers',
            'currentMarker',
            'addMarker'
        ],
        data() {
            return {
                map: {
                    default_lat: 40.177610,
                    default_lng: 44.512568,
                    default_zoom: 8,
                    icon_url: [
                        'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                        'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                    ],
                },
                infoContent: '',
                infoVisited: 0,
                infoWindowPos: {
                    lat: 0,
                    lng: 0
                },
                infoWinOpen: false,
                currentMidx: null,
                infoOptions: {
                    pixelOffset: {
                        width: 0,
                        height: -35
                    }
                },
                dragging_item: null,
                dragging_item_id: null,
                place_edit: {
                    id: '',
                    name: '',
                    latitude: '',
                    longitude: '',
                },
                showModal: false,
            }
        },
        mounted () {
            Vue.component('gmap-marker', VueGoogleMaps.Marker);
        },
        methods: {
            deletePlace: function() {
                let obj = this;

                if(!obj.currentMarker) {
                    return false;
                }

                let cnf = confirm('Delete place?');
                if(!cnf) {
                    return false;
                }

                axios.post('/place/delete', {
                    'id' : obj.currentMarker.id,
                })
                    .then(function (response) {
                        delete obj.markers[obj.currentMarker.id];
                        obj.$parent.$data.lists = obj.markers;
                        obj.closeInfoWindow();
                    })
                    .catch(function (error) {

                    });

            },
            editPlace: function() {
                let obj = this;

                let id = obj.currentMarker.id;
                obj.place_edit.id = id;
                obj.place_edit.name = obj.markers[id].name;
                obj.place_edit.latitude = obj.markers[id].latitude;
                obj.place_edit.longitude = obj.markers[id].longitude;

                obj.showModal = true;
            },
            tryOpenInfoWindow: function(marker) {
                this.$parent.$data.currentMarker = marker;
            },
            closeInfoWindow: function() {
                this.infoWinOpen = false;
                this.$parent.$data.currentMarker = false;
            },
            toggleInfoWindow: function(marker) {

                this.infoWindowPos = {lat: parseFloat(marker.latitude), lng: parseFloat(marker.longitude)};
                this.infoContent = marker.name;
                this.infoVisited = marker.visited;

                //check if its the same marker that was selected if yes toggle
                if (this.currentMidx == marker.id) {
                    this.infoWinOpen = !this.infoWinOpen;
                }
                //if different marker set infowindow to open and reset current marker index
                else {
                    this.infoWinOpen = true;
                    this.currentMidx = marker.id;
                    this.$parent.$data.currentMarker = marker;
                }
            },
            saveMarkerCoords(e) {
                let obj = this;

                axios.post('/place/add', {
                    'id' : this.dragging_item_id,
                    'lat' : e.latLng.lat(),
                    'lng' : e.latLng.lng(),
                })
                    .then(function (response) {
                        obj.markers[obj.dragging_item]['latitude'] = e.latLng.lat();
                        obj.markers[obj.dragging_item]['longitude'] = e.latLng.lng();

                        obj.dragging_item = null;
                        obj.dragging_item_id = null;
                    })
                    .catch(function (error) {
                        obj.dragging_item = null;
                        obj.dragging_item_id = null;
                    });
            },
            saveMarker() {
                let obj = this;

                if(obj.$refs.place_name.value == '') {
                    alert('empty place name');
                    return false;
                }

                let send_data = {};
                send_data.id = obj.$refs.id_place.value;
                send_data.name = obj.$refs.place_name.value;
                send_data.lat = obj.$refs.place_latitude.value;
                send_data.lng = obj.$refs.place_longitude.value;
                send_data.id_user = obj.$auth.user().id;

                axios.post('/place/add', send_data)
                    .then(function (response) {
                        if(response.data.success == 1) {
                            let _id = response.data.place_info.id;
                            obj.markers[_id] = response.data.place_info;

                            obj.showModal = false;

                            obj.place_edit.id = '';
                            obj.place_edit.name = '';
                            obj.place_edit.latitude = '';
                            obj.place_edit.longitude = '';

                            obj.infoContent = obj.markers[_id].name;
                            obj.infoVisited = obj.markers[_id].visited;

                            if(parseInt(send_data.id) == 0) {
                                obj.$parent.$data.currentMarker = response.data.place_info;
                            }
                        }
                    })
                    .catch(function (error) {
                        obj.showModal = false;
                    });
            },
            getDraggingItem(item, key) {
                this.dragging_item = key;
                this.dragging_item_id = item.id;

                // if info window is open, we must close it
                if(this.infoWinOpen) {
                    this.closeInfoWindow();
                }
            },
            tryToAddMarker: function(e) {
                if(!this.addMarker) {
                    return true;
                }

                this.place_edit.id = 0;
                this.place_edit.name = '';
                this.place_edit.latitude = e.latLng.lat();
                this.place_edit.longitude = e.latLng.lng();

                this.showModal = true;
            },
            setPlaceWisited: function(e) {
                let obj = this;

                let id = obj.currentMarker.id;
                let visited = e.target.checked ? 1 : 0;

                axios.post('/place/visited', {
                    'id' : id,
                    'visited' : visited,
                })
                    .then(function (response) {
                        if(response.data.success == 1) {
                            obj.markers[id].visited = visited;
                            obj.infoVisited = visited;
                        }
                    })
                    .catch(function (error) {

                    });
            }
        },
        watch: {
            currentMarker: function(newVal, oldVal) {
                if(newVal !== false) {
                    this.toggleInfoWindow(newVal);
                }
            }
        }
    }
</script>