<template>
    <div>
        <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div>
                            <img :src="marker_color.simple" id="new_places_icon">
                            - new place

                            <img :src="marker_color.visited" id="visited_places_icon">
                            - visited place
                        </div>
                        <hr>
                        <div>
                            <ul>
                                <li>set checked <b>Allow adding places</b> and add places by clicking on the map</li>
                                <li>easily change coordinates by dragging markers on the map</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'marker_color'
        ],
    }
</script>